/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.main-visual {
  text-align: center;
  width: 100%; /* 横幅いっぱい */
  height: 730px;
  background-image: url(w2.jpg);
  background-size: 100% 100%;
  font-size: 18px;
  font-family: 'Nasu';
  color: #CC9900;
}

@font-face {
  font-family: 'Nasu';
  src: font-url('Nasu-Regular-20200227.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.row {
  font-family: 'Nasu';
  color: #A9A9A9;
}

.row1 {
  font-family: 'Nasu';
  text-align: center;
  font-size: 17px;
  color: #B0B0B0;
  width: 100%; /* 横幅いっぱい */
  height: 730px;
  background-image: url(w3.jpg);
  background-size: 100% 100%;
}