// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.main-visual {
  text-align: center;
  width: 100%; /* 横幅いっぱい */
  height: 730px;
  background-image: image-url("w2.jpg");
  background-size: 100% 100%;
  font-size: 18px;
  font-family: 'Nasu';
  color: #CC9900;
}

@font-face {
  font-family: 'Nasu';
  src: font-url('Nasu-Regular-20200227.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
